@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #ffb43a;
    --hover-color: hsl(37,94%,57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .4s ease;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style-type: none;
}

.bx{
    cursor: pointer;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

body{
    background: var(--body-color);
    color: var(--text-color);
}

.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

/* nav */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px 0 ;
}

.logo{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0  auto 0 0 ;
}

.logo span{
    color: var(--main-color);
}

.search-box{
    background: var(--container-color);
    max-width: 240px;
    column-gap: .7rem;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4rem;
    margin-right: 1rem;
}

.search-box .bx{
    font-size: 1.2rem;
}

.search-box .bx:hover{
    color:var(--main-color) ;
}

.search-box #search-input{
    background: transparent;
    color: var(--text-color);
    width: 100%;
    font-size: 0.938rem;
}

.user{
    display: flex;
}

.user .user-img{
    width: 40px;
    object-position: center;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar{
    position: fixed;
    top: 50%;left: 18px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}

.nav-link  {
    color:#b7b7b7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-link:hover , .nav-active {
    color: var(--text-color);
    transform: scale(1.1);
}

.nav-link .bx {
    font-size: 1.6rem;
}

.nav-link-title{
    font-size: .7rem;
}

/* nav */

/* home */

.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: .5rem;
}

.home-img{
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: .5rem;
}

.home-text{
    padding-left: 40px;
}

.home-title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
}

.home-text p{
    font-size: .938rem;
    margin: 10px 0 20px;
    color: var(--main-color);
}

.watch-btn{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    column-gap: .8rem;
    text-align: center;
}

.watch-btn .bx{
    color: var(--text-color);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
    background: var(--main-color);
    border-radius: 50%;
}

.watch-btn .bx:hover{
    color: var(--hover-color);
    background: var(--text-color);
}

.watch-btn span{
    color: var(--text-color);
    font-weight: 400;
    font-size: small;
}

/* home */

/* popular */

.heading{
    width: 100%;
    background: #2d2e37;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.heading-title{
    font-size: 1.2rem;
    font-weight: 500;
    padding: .6em;
}

.movie-box{
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.movie-box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-box  .box-text {
    position:absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg , hsl(240 17% 14% / 74%) 14% , hsl(240 17% 14% / 14%) 44% );
    overflow: hidden;
}

.movie-title{
    font-size: 1.2rem;
    font-weight: 500;
}

.movie-type{
    font-size: .938rem;
}

.play-btn {
    position:absolute;
    bottom: 1em;
    right: 10px;
}

/* popular */

/* movies */

.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(247px , 1fr));
    gap: 1.5rem;
}

.movies .movie-box{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movies .movie-box img{
    border-radius: .3em;
}

.movies .movie-box:hover img{
    transform: scale(.9);
}

/* movies */

/* next page */

.next-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.next-btn{
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--main-color);
    padding: .5em;
    border-radius: 1em;
    color: var(--text-color);
}

.next-btn:hover{
    background-color: var(--hover-color);
}

/* next page */

/* footer */

.footer{
    text-align: center;
    margin-top: 1rem;
    padding: 1.3rem;
}

.footer p{
    color: var(--text-color);
    font-weight: bold;
}

.footer p .bx-heart{
    color: red;
}

/* footer */

/* Play-container */

.play-container{
    position: relative;
    min-height: 540px;
    margin-top: 5rem !important;
}

.play-container .play-img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 15px #000;
    z-index: -1;
}

.play-container .play-text {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: flex-end;
    bottom: 0;left: 0;
    flex-direction: column;
    background: linear-gradient(8deg , hsl(240 17% 14% / 74%) 14% , hsl(240 17% 14% / 14%) 44% );
    padding: 40px;
}

.play-text h2{
    font-weight: bold;
    text-shadow: 2px 2px 10px #000;
    font-size: 1.5rem;
}

.play-text .rating {
    color: var(--main-color);
    font-size: 1.1rem;
    margin-top: 4px;
}

.play-text .tags {
    display: flex;
    flex-direction: column;

}

.play-text .tags span {
    font-size: 1.1rem;
    margin: .3rem;
}

.play-movie{
    position: absolute;
    bottom: 18rem;
    right: 9rem;
    padding: .7rem;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: all .5s ease;
    font-size: 1.5rem;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(255 , 180 ,58 ,.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255 , 193 ,7 ,0);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255 , 193 ,7 ,0);
    }
    100%{
        box-shadow: 0 0 0  rgba(255 , 193 ,7 ,0);
    }
}

/* Play-container */

/* movie - container */

.video-container{
    position: fixed;
    top: 0;left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 400;
    background-color: hsl(234 10% 20% /60%);
}

.video-container.show{
    display: flex;
}

.video-box{
    width: 82%;
    position: relative;
}

.video-box #myvideo{
    width: 100%;
    aspect-ratio: 16/9;
}

.close-video{
    position: absolute;
    top: 1rem;
    right: 0rem;
    font-size: 30px;
    color: var(--text-color)
}
/* movie - container */

/* about movie  */

.about-movie {
    margin-top: 2rem;
}

.about-movie h2{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--main-color);
}

.about-movie p{
    font-size: .938rem;
    margin: 1rem  0;
    max-width: 600px;
}

.cast-heading{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.cast{
    display:grid;
    grid-template-columns: repeat(auto-fit  , minmax(150px , 150px));
    gap: 1rem;
}

.cast-img{
    width: 150px;
    height: 180px;
    object-position: center;
    object-fit: cover;
}

/* about movie  */

/* download */

.download{
    margin: auto;
    display: grid;
    justify-content: center;
    max-width: 800px;
    margin-top: 2rem;
    width: 100%;
}

.download-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 1rem 0;
}

.download-link{
    display: flex;
    justify-content: space-between  ;
    margin-top: 2rem;
}

.download-link a{
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.download-link a:hover{
    transform: scale(.9);
}

/* download */